:root {
    --background: white;
    --foreground: black;
    --accent: #B892FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

h1, h2, h3 {
    text-align: center;
    color: var(--accent);
}

.container {
    width: 90%;
    padding: 1rem;
    margin: auto;
}

@media screen and (min-width: 720px) {
    .container {
        width: 65% !important;
        padding: 1rem;
        margin: auto;
    }
}

img {
    border-radius: 1em;
}